@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer components {
  /* Custom components can go here */
}

body {
  @apply bg-gray-50 text-gray-900 dark:bg-gray-950 dark:text-gray-100 transition-colors duration-300;
}